<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div id="calculator">
			<div id="display">
				
			</div>
			<div id="buttons">
				<div class="row">
					<button class="number" data-number="7">7</button>
					<button class="number" data-number="8">8</button>
					<button class="number" data-number="9">9</button>
					<button class="operation" data-operation="*">*</button>
				</div>
				<div class="row">
					<button class="number" data-number="4">4</button>
					<button class="number" data-number="5">5</button>
					<button class="number" data-number="6">6</button>
					<button class="operation" data-operation="/">/</button>
				</div>
				<div class="row">
					<button class="number" data-number="1">1</button>
					<button class="number" data-number="2">2</button>
					<button class="number" data-number="3">3</button>
					<button class="operation" data-operation="-">-</button>
				</div>
				<div class="row">
					<button class="number" data-number="0">0</button>
					<button class="number" data-number=".">.</button>
					<button class="operation" data-operation="=">=</button>
					<button class="operation" data-operation="+">+</button>
				</div>
			</div>
		</div>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="/javascripts/calculator.js"></script>
	</body>
</html>